<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ke.bou.dark-mode-notify</string>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>ProgramArguments</key>
    <array>
       <string>/Users/jeremy/nix/public-base/config/dark-mode-notify/dark-mode-notify.swift</string>
       <string>/Users/jeremy/.nix-profile/bin/colorscheme</string>
       <string>system-update</string>
    </array>
</dict>
</plist>
